body{
  width:960px;
  height:1160px;
  color: navy;
  font-size: 16px;
  background-color: lavenderblush;
  margin-left: 90px;
}

 header h1{
  font: 46px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 100;
  margin-left: 400px;;
  margin-right: 50%;
  margin-top: 6%;
}

input{
  padding-left: 15px;
  height: 30px;
  width: 200px;
  border-bottom-color: rgb(38, 3, 71);
}

div{
  width:100%;
  padding-left: 20px;
}
button {
  margin-left: 3px;
  padding: 8px;
  background-color: rgb(213, 213, 253);
  
}
section, .todo_card{
  width: 60%;
  margin-top: 30px;
  margin-left: 150px;
  background-color: lavender;
}

aside{
  margin-left: 70px;
  padding-top: 40px;
  padding-bottom: 40px;
}