body{
  width:100%;
  height:100%;
  color: navy;
  font-size: 16px;
  background-color: lavenderblush;
}

body h1{
  font: 46px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 100;
  margin-left: 42%;
  margin-right: 30%;

}
.column1of2, .column2of2{
  width: 45%;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
}

input{
  padding-left: 15px;
  height: 30px;
  width: 200px;
  border-bottom-color: blueviolet;
}

button {
  margin-left: 5%;
}
.addBtn{
  margin-left: 40%;
}
.completeBtn{
  margin-left: 40%;
}

.todo_card{
  background-color: lavender;
}